<div class="item user-block" *ngIf="user && user.userName" style="display:none">
    <!-- User picture-->
    <div *ngIf="user.picture" class="user-block-picture">
        <div class="user-block-status">
            <img class="img-thumbnail rounded-circle" [src]="user.picture" alt="Avatar" />
            <div class="circle bg-success circle-lg"></div>
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <span class="user-block-name">{{user.userName}}</span>
        <span class="user-block-role">{{user.roles[0]}}</span>
    </div>
</div>
