﻿<div class="content-heading">
    <div>
        {{courseName}}
        <small>{{groupName}}</small>
    </div>
</div>
<head>
    <style>
        tbody {
            color: darkred;
        }

        thead {
            color: green;
        }
    </style>
</head>
<div class="row">
    <div class="row col-xl card card-default card-body table-responsive table-bordered">
        <table class="table">
            <thead>
                <tr>
                    <!--*ngFor="let m of students[0].lessons"-->
                    <td style="width:2%">Id</td>
                    <td style="width:18%">Прізвище</td>
                    <td style="width:20%">Ім'я</td>
                    <td style="width:10%">Урок 1</td>
                    <td style="width:10%">Урок 2</td>
                    <td style="width:10%">Урок 3</td>
                    <td style="width:10%">Всього</td>
                </tr>

</thead>

            <tbody>
                <tr *ngFor="let stud of students">
                    <td><span>{{stud.id}}</span></td>
                    <td><span>{{stud.lastName}}</span></td>
                    <td><span>{{stud.firstName}}</span></td>
                    <td><span id="a">{{stud.lessons[0]}}</span></td>
                    <td><span id="b">{{stud.lessons[1]}}</span></td>
                    <td>
                       <input type="number" value="{{stud.lessons[2]}}"/>
                    </td>

                    <td><span id="sum">{{stud.lessons[0]+stud.lessons[1]+stud.lessons[2]}}</span></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
