﻿<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    <img class="block-center rounded" src="assets/img/logo.png" alt="Image" />
                </a>
            </div>
            <div class="card-body">
                <form [formGroup]="confForm" class="form-validate" role="form" name="confForm" novalidate="" (submit)="submitForm($event, confForm.value)">
                    <p class="text-center">Код був висланий на електронну адресу</p>
                    <div class="form-group">
                        <label class="text-muted">email</label>
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" disabled="disabled" name="emailAddress" autocomplete="off" formControlName="emailAddress" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="confForm.controls['emailAddress'].hasError('required') && (confForm.controls['emailAddress'].dirty || confForm.controls['emailAddress'].touched)">Це поле є обов'язковим</div>
                    </div>
                    <div class="form-group">
                        <label class="text-muted">Код підтвердження</label>
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" name="requestCode" autocomplete="off" formControlName="requestCode" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="confForm.controls['requestCode'].hasError('required') && (confForm.controls['requestCode'].dirty || confForm.controls['requestCode'].touched)">Це поле є обов'язковим</div>
                    </div>

                    <button *ngIf="!isRunning" class="btn btn-danger btn-block" type="submit">Підтвердити</button>
                    <p *ngIf="isRunning" class="pt-3 text-center">Відправка данних</p>
                    <div class="text-danger" *ngIf="serverError">Помилка при підтвердженні аккаунту</div>
                </form>
            </div>
        </div>
        <!-- END card-->
        <div class="p-3 text-center">
            <span>&copy;</span>
            <span>{{ settings.getAppSetting('year') }}</span>
            <br />
            <span>{{ settings.getAppSetting('name') }}</span>
            <br />
            <span>{{ settings.getAppSetting('description') }}</span>
        </div>
    </div>
</div>
