
a {
  text-decoration: none;
}

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

small {
  font-size: 75%;
}

.light {
  font-weight: 300;
}

.thin {
  font-weight: 200;
}

.flow-text {
  font-weight: 300;
}
/* modal */
.gradient-45deg-light-blue-cyan{
  background: #0288d1;
  background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}
.Contact.modal .modal-content {
    padding-top: 0px!important;
    padding-left:  0px!important;
    padding-right:  0px!important;
}
.modal_header_title{
    padding: 15px;
  margin-top: 20px;
  line-height: inherit;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}


@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .flow-text {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .flow-text {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .flow-text {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .flow-text {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .flow-text {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .flow-text {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .flow-text {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .flow-text {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .flow-text {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .flow-text {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .flow-text {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 1.68rem;
  }
}

@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  #main .nav-expanded .brand-sidebar {
    background: transparent !important;
  }
  .brand-sidebar .logo-wrapper {
    text-align: center;
    background: transparent;
    padding: 17px 18px !important;
  }
}

ul.side-nav.leftside-navigation li:not(.no-padding) a {
  font-weight: 400 !important;
}


html, body {
  height: 100%;
}

body {
  background-color: #eef5f9;
}

body.layout-light ul.side-nav.leftside-navigation {
  top: 62px;
}

body.layout-light #header nav.navbar-color {
  background: #fff;
}

body.layout-light #header nav.navbar-color ul a {
  color: rgba(0, 0, 0, 0.87);
}

body.layout-light #header nav.navbar-color .header-search-wrapper i {
  color: rgba(0, 0, 0, 0.87);
}

body.layout-light #header nav.navbar-color .header-search-wrapper input.header-search-input {
  border: 1px solid #869298;
  color: rgba(0, 0, 0, 0.87);
  background: rgba(230, 230, 230, 0.3);
}

body.layout-light #header nav.navbar-color .header-search-wrapper input.header-search-input:hover, body.layout-light #header nav.navbar-color .header-search-wrapper input.header-search-input:active, body.layout-light #header nav.navbar-color .header-search-wrapper input.header-search-input:focus {
  border: 1px solid #adadad;
  border-bottom: 1px solid #adadad !important;
  background: rgba(230, 230, 230, 0);
}

body.layout-light #header nav.navbar-color .header-search-wrapper input.header-search-input::placeholder {
  color: rgba(0, 0, 0, 0.87);
}

body.layout-light #main h1 span.logo-text {
  color: rgba(0, 0, 0, 0.87);
}

body.layout-light #main .brand-sidebar .logo-wrapper a.navbar-toggler i {
  color: rgba(0, 0, 0, 0.87);
}

body.layout-light #main .nav-expanded .brand-sidebar {
  background: #fff !important;
}

body.layout-light .page-footer {
  border-top: 1px solid #d2d2d2 !important;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

body.layout-light .footer-copyright {
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

body.layout-dark ul.side-nav.leftside-navigation {
  top: 62px;
}

body.layout-dark #header nav.navbar-color {
  background: #37474f;
}

body.layout-dark #header nav.navbar-color ul a {
  color: #fff;
}

body.layout-dark #header nav.navbar-color .header-search-wrapper i {
  color: #fff;
}

body.layout-dark #header nav.navbar-color .header-search-wrapper input.header-search-input {
  border: 1px solid #828282;
  color: #fff;
  background: rgba(230, 230, 230, 0.3);
}

body.layout-dark #header nav.navbar-color .header-search-wrapper input.header-search-input:hover, body.layout-dark #header nav.navbar-color .header-search-wrapper input.header-search-input:active, body.layout-dark #header nav.navbar-color .header-search-wrapper input.header-search-input:focus {
  border: 1px solid #adadad;
  border-bottom: 1px solid #adadad !important;
  background: rgba(230, 230, 230, 0);
}

body.layout-dark #header nav.navbar-color .header-search-wrapper input.header-search-input::placeholder {
  color: #fff;
}

body.layout-dark #main h1 span.logo-text {
  color: #fff;
}

body.layout-dark #main .nav-expanded .brand-sidebar {
  background: #37474f !important;
}

body.layout-dark #main #left-sidebar-nav .side-nav {
  background: #37474f;
}

body.layout-dark #main #left-sidebar-nav .side-nav .collapsible-body, body.layout-dark #main #left-sidebar-nav .side-nav.fixed .collapsible-body {
  background: #37474f;
}

body.layout-dark #main #left-sidebar-nav .side-nav .collapsible-body > ul:not(.collapsible) > li.active,
body.layout-dark #main #left-sidebar-nav .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background: #263238 !important;
}

body.layout-dark #main #left-sidebar-nav .side-nav li > a, body.layout-dark #main #left-sidebar-nav .side-nav li .more-text {
  color: #fff;
}

body.layout-dark #main #left-sidebar-nav .side-nav li > a > i, body.layout-dark #main #left-sidebar-nav .side-nav li .more-text > i {
  color: #fff;
}

body.layout-dark #main #left-sidebar-nav .brand-sidebar .logo-wrapper a.navbar-toggler i {
  color: #fff;
}

body.layout-dark .page-footer {
  border-top: 1px solid #d2d2d2 !important;
  color: #fff;
  background: #37474f;
}

body.layout-dark .footer-copyright {
  color: #fff;
  background: #37474f;
}

body.layout-semi-dark ul.side-nav.leftside-navigation {
  top: 62px;
}

body.layout-semi-dark #header nav.navbar-color {
  background: #fff;
}

body.layout-semi-dark #header nav.navbar-color ul a {
  color: rgba(0, 0, 0, 0.87);
}

body.layout-semi-dark #header nav.navbar-color .header-search-wrapper i {
  color: rgba(0, 0, 0, 0.87);
}

body.layout-semi-dark #header nav.navbar-color .header-search-wrapper input.header-search-input {
  border: 1px solid #d2d2d2;
  color: rgba(0, 0, 0, 0.87);
  background: rgba(230, 230, 230, 0.3);
}

body.layout-semi-dark #header nav.navbar-color .header-search-wrapper input.header-search-input:hover, body.layout-semi-dark #header nav.navbar-color .header-search-wrapper input.header-search-input:active, body.layout-semi-dark #header nav.navbar-color .header-search-wrapper input.header-search-input:focus {
  border: 1px solid #adadad;
  border-bottom: 1px solid #adadad !important;
  background: rgba(230, 230, 230, 0);
}

body.layout-semi-dark .page-footer {
  border-top: 1px solid #d2d2d2 !important;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

body.layout-semi-dark .footer-copyright {
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

#main {
  min-height: calc(100% - 100px);
  padding-left: 200px;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  -moz-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

#main.main-full {
  padding-left: 64px;
}

footer {
  padding-left: 240px;
}

footer.page-footer {
  padding-top: 1px;
}

select {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 2px;
  height: 3rem;
  border-bottom: 1px solid #bdbdbd;
}

#sidenav-overlay {
  background-color: transparent;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%;
}

.container .dropdown-settings i.right {
  margin-left: 0;
}

#left-sidebar-nav {
  position: fixed;
  width: 100px;
  left: 180px;
  z-index: 999;
  height: auto;
}

#left-sidebar-nav span.badge.new {
  line-height: 20px;
  margin-top: 11px;
}

#GPageBody .header-search-wrapper {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  display: inline-block;
  position: relative;
}
#GPageBody{
	padding: 15px;
}
#GPageBody .container .row {
  margin-bottom: 0;
}
.adaptive{
  max-height: calc(100% - 100px)!important;
  position: fixed!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
}
.modal.modal-fixed-footer {
    padding: 0;
    height: 50%;
}
.modal .modal-footer {
    background-color: #fff;
}
.modal .modal-content {
    padding-bottom: 10px;
}
.card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 20px;
    margin: 0rem 0;
    border-radius: 2px;
    background-color: #fff;
  }
@media only screen and (max-width: 601px) {
  .modal.modal-fixed-footer {
      padding: 0;
      height: 75%;
  }
  .modal {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      background-color: #fafafa;
      padding: 0;
      max-height: 90%;
      width: 90%;
      margin: auto;
      overflow-y: auto;
      border-radius: 2px;
      will-change: top, opacity;
  }
}
@media only screen and (max-width: 920px) {
  .modal {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      background-color: #fafafa;
      padding: 0;
      max-height: 90%;
      width: 90;
      margin: auto;
      overflow-y: auto;
      border-radius: 2px;
      will-change: top, opacity;
  }
}
@media only screen and (min-width: 601px) {
  .container {
    width: 98%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 98%;
  }
}

@media only screen and (max-width: 993px) {
  #main {
    padding-left: 0;
  }
  footer {
    padding-left: 0;
  }
}


.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    border-bottom: 1px solid #eee;
}
.bg-info {
    background-color: #3949ab !important;
}
.text-white {
    color: #ffffff !important;
}
.contact-box {
    position: relative;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    font-size: 18px;
}
.navbar-fixed {
    z-index: 999;
}
#left-sidebar-nav {
    z-index: 1000;

}
.btn-success, .btn-success.disabled {
    background: #26c6da;
    border: 1px solid #26c6da;
    -webkit-box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}
.contact-box .add-ct-btn {
    position: absolute;
    right: 4px;
    top: -80px;
}
.person-block{
  width: 80%;
  position: relative;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.message-box .message-widget a .Pib-contnet {
    display: inline-block;
    width: 52%;
    vertical-align: middle;
    float: left;
}
.message-box .message-widget a .Tel-contnet {
    display: inline-block;
     width: 20%;
    vertical-align: middle;
    float: left;
}
.message-box .message-widget a .mail-contnet {
    display: inline-block;
     width: 20%;
    vertical-align: middle;
    float: left;
}
.message-box .message-widget a .user-img {
    position: relative;
    display: inline-block;
    margin: 0 10px 15px 0;
    float: left;
}
@media only screen and (max-width: 601px) {

  .message-box .message-widget a .Pib-contnet {
      display: inline-block;
      width: 80%;
      vertical-align: middle;
      float: left;
      margin-left: 20px;

  }
  .message-box .message-widget a .Pib-contnet h5{
      font-weight: bold!important;
  }

  .message-box .message-widget a .Tel-contnet {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      float: left;
      margin-left: 36px;

  }
  .message-box .message-widget a .mail-contnet {
      display: inline-block;
       width: 100%;
      vertical-align: middle;
      float: left;
      margin-left: 36px;
}
  .message-box .message-widget a .user-img {
      position: relative;
      display: inline-block;
      margin: 0 10px 15px 0;
      float: left;
  }
  .message-box .message-widget a .edit-contnet {
      display: inline-block;
      width: 10%;
      vertical-align: middle;
      float: left;
  }


}

.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.message-box .message-widget a .user-img {
    width: 5%;
    position: relative;
    display: inline-block;
    margin: 0 2% 1% 0;
    float: left;
}

.contact-box .contact-widget > a .user-img {
    margin-bottom: 0px !important;
}

.message-box .message-widget a .user-img img {
    width: 26px;
}

.img-circle {
    border-radius: 100%;
}

.message-box .message-widget h5, span{
  color: #455a64;
  font-size: 1rem;
}
.message-box .message-widget a .mail-contnet .mail-desc, .message-box .message-widget a .mail-contnet .time {
    font-size: 12px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
}
.round {
    line-height: 48px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
    background: #1e88e5;
}
.message-box .message-widget a div {
    white-space: normal;
}
.message-box .message-widget {
    position: relative;
}





.ps-scrollbar-x-rail {
  z-index: 9999;
}

.ps-scrollbar-y-rail {
  z-index: 9999;
}





.width-10 {
  width: 10% !important;
}

.width-20 {
  width: 20% !important;
}

.width-30 {
  width: 30% !important;
}

.width-40 {
  width: 40% !important;
}

.width-50 {
  width: 50% !important;
}

.width-60 {
  width: 60% !important;
}

.width-70 {
  width: 70% !important;
}

.width-80 {
  width: 80% !important;
}

.width-90 {
  width: 90% !important;
}

.width-100 {
  width: 100% !important;
}

.border-radius-1 {
  border-radius: 1px !important;
}

.border-radius-2 {
  border-radius: 2px !important;
}

.border-radius-3 {
  border-radius: 3px !important;
}

.border-radius-4 {
  border-radius: 4px !important;
}

.border-radius-5 {
  border-radius: 5px !important;
}

.border-radius-6 {
  border-radius: 6px !important;
}

.border-radius-7 {
  border-radius: 7px !important;
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-9 {
  border-radius: 9px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-round {
  border-radius: 50px !important;
}


.font-weight-100 {
  font-weight: 100 !important;
}

.font-weight-200 {
  font-weight: 200 !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-800 {
  font-weight: 800 !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.m-0 {
  margin: 0 !important;
}


.mt-0 {
  margin-top: 0% !important;
}

.mt-1 {
  margin-top: 1% !important;
}

.mt-2 {
  margin-top: 2% !important;
}

.mt-3 {
  margin-top: 3% !important;
}

.mt-4 {
  margin-top: 4% !important;
}

.mt-5 {
  margin-top: 5% !important;
}

.mt-6 {
  margin-top: 6% !important;
}

.mt-7 {
  margin-top: 7% !important;
}

.mt-8 {
  margin-top: 8% !important;
}

.mt-9 {
  margin-top: 9% !important;
}

.mt-10 {
  margin-top: 10% !important;
}


.mr-0 {
  margin-right: 0% !important;
}

.mr-1 {
  margin-right: 1% !important;
}

.mr-2 {
  margin-right: 2% !important;
}

.mr-3 {
  margin-right: 3% !important;
}

.mr-4 {
  margin-right: 4% !important;
}

.mr-5 {
  margin-right: 5% !important;
}

.mr-6 {
  margin-right: 6% !important;
}

.mr-7 {
  margin-right: 7% !important;
}

.mr-8 {
  margin-right: 8% !important;
}

.mr-9 {
  margin-right: 9% !important;
}

.mr-10 {
  margin-right: 10% !important;
}


.ml-0 {
  margin-left: 0% !important;
}

.ml-1 {
  margin-left: 1% !important;
}

.ml-2 {
  margin-left: 2% !important;
}

.ml-3 {
  margin-left: 3% !important;
}

.ml-4 {
  margin-left: 4% !important;
}

.ml-5 {
  margin-left: 5% !important;
}

.ml-6 {
  margin-left: 6% !important;
}

.ml-7 {
  margin-left: 7% !important;
}

.ml-8 {
  margin-left: 8% !important;
}

.ml-9 {
  margin-left: 9% !important;
}

.ml-10 {
  margin-left: 10% !important;
}

/* Margin Bottom */
.mb-0 {
  margin-bottom: 0% !important;
}

.mb-1 {
  margin-bottom: 1% !important;
}

.mb-2 {
  margin-bottom: 2% !important;
}

.mb-3 {
  margin-bottom: 3% !important;
}

.mb-4 {
  margin-bottom: 4% !important;
}

.mb-5 {
  margin-bottom: 5% !important;
}

.mb-6 {
  margin-bottom: 6% !important;
}

.mb-7 {
  margin-bottom: 7% !important;
}

.mb-8 {
  margin-bottom: 8% !important;
}

.mb-9 {
  margin-bottom: 9% !important;
}

.mb-10 {
  margin-bottom: 10% !important;
}

/* Padding All */
.padding-1 {
  padding: 1% !important;
}

.padding-2 {
  padding: 2% !important;
}

.padding-3 {
  padding: 3% !important;
}

.padding-4 {
  padding: 4% !important;
}

.padding-5 {
  padding: 5% !important;
}

.padding-6 {
  padding: 6% !important;
}

.padding-7 {
  padding: 7% !important;
}

.padding-8 {
  padding: 8% !important;
}

.padding-9 {
  padding: 9% !important;
}

.padding-10 {
  padding: 10% !important;
}

.p-0 {
  padding: 0 !important;
}

/* Padding Top */
.pt-0 {
  padding-top: 0% !important;
}

.pt-1 {
  padding-top: 1% !important;
}

.pt-2 {
  padding-top: 2% !important;
}

.pt-3 {
  padding-top: 3% !important;
}

.pt-4 {
  padding-top: 4% !important;
}

.pt-5 {
  padding-top: 5% !important;
}

.pt-6 {
  padding-top: 6% !important;
}

.pt-7 {
  padding-top: 7% !important;
}

.pt-8 {
  padding-top: 8% !important;
}

.pt-9 {
  padding-top: 9% !important;
}

.pt-10 {
  padding-top: 10% !important;
}

/* Padding Right */
.pr-0 {
  padding-right: 0% !important;
}

.pr-1 {
  padding-right: 1% !important;
}

.pr-2 {
  padding-right: 2% !important;
}

.pr-3 {
  padding-right: 3% !important;
}

.pr-4 {
  padding-right: 4% !important;
}

.pr-5 {
  padding-right: 5% !important;
}

.pr-6 {
  padding-right: 6% !important;
}

.pr-7 {
  padding-right: 7% !important;
}

.pr-8 {
  padding-right: 8% !important;
}

.pr-9 {
  padding-right: 9% !important;
}

.pr-10 {
  padding-right: 10% !important;
}

/* Padding Right */
.pl-0 {
  padding-left: 0% !important;
}

.pl-1 {
  padding-left: 1% !important;
}

.pl-2 {
  padding-left: 2% !important;
}

.pl-3 {
  padding-left: 3% !important;
}

.pl-4 {
  padding-left: 4% !important;
}

.pl-5 {
  padding-left: 5% !important;
}

.pl-6 {
  padding-left: 6% !important;
}

.pl-7 {
  padding-left: 7% !important;
}

.pl-8 {
  padding-left: 8% !important;
}

.pl-9 {
  padding-left: 9% !important;
}

.pl-10 {
  padding-left: 10% !important;
}

/* Padding Bottom */
.pb-0 {
  padding-bottom: 0% !important;
}

.pb-1 {
  padding-bottom: 1% !important;
}

.pb-2 {
  padding-bottom: 2% !important;
}

.pb-3 {
  padding-bottom: 3% !important;
}

.pb-4 {
  padding-bottom: 4% !important;
}

.pb-5 {
  padding-bottom: 5% !important;
}

.pb-6 {
  padding-bottom: 6% !important;
}

.pb-7 {
  padding-bottom: 7% !important;
}

.pb-8 {
  padding-bottom: 8% !important;
}

.pb-9 {
  padding-bottom: 9% !important;
}

.pb-10 {
  padding-bottom: 10% !important;
}

/* Minimum Height */
.min-height-100 {
  min-height: 100px !important;
}

.min-height-150 {
  min-height: 150px !important;
}

.min-height-200 {
  min-height: 200px !important;
}

.min-height-250 {
  min-height: 250px !important;
}

.min-height-300 {
  min-height: 300px !important;
}

/* Icon Background Round */
.background-round {
  background-color: rgba(0, 0, 0, 0.18);
  padding: 15px;
  border-radius: 50%;
}

.opacity-0 {
  opacity: 0;
}


.border-none {
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}

.box-shadow-none {
  box-shadow: none !important;
}

/* Margin 0 & Padding 0 */
.no-margin {
  margin: 0% !important;
}

.no-padding {
  padding: 0% !important;
}

/* Position */
.position-absolute {
  position: absolute;
}

/* Vertical Align */
.vertical-align-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-align-super {
  vertical-align: super;
}

/* Line Height */
.line-height-0 {
  line-height: 0px !important;
}

/* Icon Background */
.icon-bg-circle {
  color: #fff;
  padding: .4rem;
  border-radius: 50%;
}

.text-shadow {
  text-shadow: -1px 2px 4px black;
}

/*---------------------------------
    Typography
-----------------------------------*/
.small {
  font-size: 1.0rem !important;
}

.medium-small {
  font-size: 0.9rem !important;
}

.ultra-small {
  font-size: 0.8rem !important;
}

small {
  font-size: 0.8rem;
}

.strong {
  font-weight: 600;
}

h4.header {
  line-height: 2.508rem;
  margin: 1.14rem 0 0.912rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4.header2 {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}

p.title {
  font-size: 1.3rem;
}

p.header {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

li.li-hover:hover {
  background: transparent !important;
}

li.search-out:hover {
  background: transparent;
}

li.mobile:before {
  background: #f7464a;
}

li.kitchen:before {
  background: #46bfbd;
}

li.home:before {
  background: #fdb45c;
}

.more-text {
  padding: 5px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.margin {
  margin: 0 !important;
}

.uppercase {
  text-transform: uppercase;
}

.materialize-red {
  background-color: #e51c23 !important;
}

.materialize-red-text {
  color: #e51c23 !important;
}

.materialize-red.lighten-5 {
  background-color: #fdeaeb !important;
}

.materialize-red-text.text-lighten-5 {
  color: #fdeaeb !important;
}

.materialize-red.lighten-4 {
  background-color: #f8c1c3 !important;
}

.materialize-red-text.text-lighten-4 {
  color: #f8c1c3 !important;
}

.materialize-red.lighten-3 {
  background-color: #f3989b !important;
}

.materialize-red-text.text-lighten-3 {
  color: #f3989b !important;
}

.materialize-red.lighten-2 {
  background-color: #ee6e73 !important;
}

.materialize-red-text.text-lighten-2 {
  color: #ee6e73 !important;
}

.materialize-red.lighten-1 {
  background-color: #ea454b !important;
}

.materialize-red-text.text-lighten-1 {
  color: #ea454b !important;
}

.materialize-red.darken-1 {
  background-color: #d0181e !important;
}

.materialize-red-text.text-darken-1 {
  color: #d0181e !important;
}

.materialize-red.darken-2 {
  background-color: #b9151b !important;
}

.materialize-red-text.text-darken-2 {
  color: #b9151b !important;
}

.materialize-red.darken-3 {
  background-color: #a21318 !important;
}

.materialize-red-text.text-darken-3 {
  color: #a21318 !important;
}

.materialize-red.darken-4 {
  background-color: #8b1014 !important;
}

.materialize-red-text.text-darken-4 {
  color: #8b1014 !important;
}

.red {
  background-color: #F44336 !important;
}

.red-text {
  color: #F44336 !important;
}

.red.lighten-5 {
  background-color: #FFEBEE !important;
}

.red-text.text-lighten-5 {
  color: #FFEBEE !important;
}

.red.lighten-4 {
  background-color: #FFCDD2 !important;
}

.red-text.text-lighten-4 {
  color: #FFCDD2 !important;
}

.red.lighten-3 {
  background-color: #EF9A9A !important;
}

.red-text.text-lighten-3 {
  color: #EF9A9A !important;
}

.red.lighten-2 {
  background-color: #E57373 !important;
}

.red-text.text-lighten-2 {
  color: #E57373 !important;
}

.red.lighten-1 {
  background-color: #EF5350 !important;
}

.red-text.text-lighten-1 {
  color: #EF5350 !important;
}

.red.darken-1 {
  background-color: #E53935 !important;
}

.red-text.text-darken-1 {
  color: #E53935 !important;
}

.red.darken-2 {
  background-color: #D32F2F !important;
}

.red-text.text-darken-2 {
  color: #D32F2F !important;
}

.red.darken-3 {
  background-color: #C62828 !important;
}

.red-text.text-darken-3 {
  color: #C62828 !important;
}

.red.darken-4 {
  background-color: #B71C1C !important;
}

.red-text.text-darken-4 {
  color: #B71C1C !important;
}

.red.accent-1 {
  background-color: #FF8A80 !important;
}

.red-text.text-accent-1 {
  color: #FF8A80 !important;
}

.red.accent-2 {
  background-color: #FF5252 !important;
}

.red-text.text-accent-2 {
  color: #FF5252 !important;
}

.red.accent-3 {
  background-color: #FF1744 !important;
}

.red-text.text-accent-3 {
  color: #FF1744 !important;
}

.red.accent-4 {
  background-color: #D50000 !important;
}

.red-text.text-accent-4 {
  color: #D50000 !important;
}

.pink {
  background-color: #e91e63 !important;
}

.pink-text {
  color: #e91e63 !important;
}

.pink.lighten-5 {
  background-color: #fce4ec !important;
}

.pink-text.text-lighten-5 {
  color: #fce4ec !important;
}

.pink.lighten-4 {
  background-color: #f8bbd0 !important;
}

.pink-text.text-lighten-4 {
  color: #f8bbd0 !important;
}

.pink.lighten-3 {
  background-color: #f48fb1 !important;
}

.pink-text.text-lighten-3 {
  color: #f48fb1 !important;
}

.pink.lighten-2 {
  background-color: #f06292 !important;
}

.pink-text.text-lighten-2 {
  color: #f06292 !important;
}

.pink.lighten-1 {
  background-color: #ec407a !important;
}

.pink-text.text-lighten-1 {
  color: #ec407a !important;
}

.pink.darken-1 {
  background-color: #d81b60 !important;
}

.pink-text.text-darken-1 {
  color: #d81b60 !important;
}

.pink.darken-2 {
  background-color: #c2185b !important;
}

.pink-text.text-darken-2 {
  color: #c2185b !important;
}

.pink.darken-3 {
  background-color: #ad1457 !important;
}

.pink-text.text-darken-3 {
  color: #ad1457 !important;
}

.pink.darken-4 {
  background-color: #880e4f !important;
}

.pink-text.text-darken-4 {
  color: #880e4f !important;
}

.pink.accent-1 {
  background-color: #ff80ab !important;
}

.pink-text.text-accent-1 {
  color: #ff80ab !important;
}

.pink.accent-2 {
  background-color: #ff4081 !important;
}

.pink-text.text-accent-2 {
  color: #ff4081 !important;
}

.pink.accent-3 {
  background-color: #f50057 !important;
}

.pink-text.text-accent-3 {
  color: #f50057 !important;
}

.pink.accent-4 {
  background-color: #c51162 !important;
}

.pink-text.text-accent-4 {
  color: #c51162 !important;
}

.purple {
  background-color: #9c27b0 !important;
}

.purple-text {
  color: #9c27b0 !important;
}

.purple.lighten-5 {
  background-color: #f3e5f5 !important;
}

.purple-text.text-lighten-5 {
  color: #f3e5f5 !important;
}

.purple.lighten-4 {
  background-color: #e1bee7 !important;
}

.purple-text.text-lighten-4 {
  color: #e1bee7 !important;
}

.purple.lighten-3 {
  background-color: #ce93d8 !important;
}

.purple-text.text-lighten-3 {
  color: #ce93d8 !important;
}

.purple.lighten-2 {
  background-color: #ba68c8 !important;
}

.purple-text.text-lighten-2 {
  color: #ba68c8 !important;
}

.purple.lighten-1 {
  background-color: #ab47bc !important;
}

.purple-text.text-lighten-1 {
  color: #ab47bc !important;
}

.purple.darken-1 {
  background-color: #8e24aa !important;
}

.purple-text.text-darken-1 {
  color: #8e24aa !important;
}

.purple.darken-2 {
  background-color: #7b1fa2 !important;
}

.purple-text.text-darken-2 {
  color: #7b1fa2 !important;
}

.purple.darken-3 {
  background-color: #6a1b9a !important;
}

.purple-text.text-darken-3 {
  color: #6a1b9a !important;
}

.purple.darken-4 {
  background-color: #4a148c !important;
}

.purple-text.text-darken-4 {
  color: #4a148c !important;
}

.purple.accent-1 {
  background-color: #ea80fc !important;
}

.purple-text.text-accent-1 {
  color: #ea80fc !important;
}

.purple.accent-2 {
  background-color: #e040fb !important;
}

.purple-text.text-accent-2 {
  color: #e040fb !important;
}

.purple.accent-3 {
  background-color: #d500f9 !important;
}

.purple-text.text-accent-3 {
  color: #d500f9 !important;
}

.purple.accent-4 {
  background-color: #aa00ff !important;
}

.purple-text.text-accent-4 {
  color: #aa00ff !important;
}

.deep-purple {
  background-color: #673ab7 !important;
}

.deep-purple-text {
  color: #673ab7 !important;
}

.deep-purple.lighten-5 {
  background-color: #ede7f6 !important;
}

.deep-purple-text.text-lighten-5 {
  color: #ede7f6 !important;
}

.deep-purple.lighten-4 {
  background-color: #d1c4e9 !important;
}

.deep-purple-text.text-lighten-4 {
  color: #d1c4e9 !important;
}

.deep-purple.lighten-3 {
  background-color: #b39ddb !important;
}

.deep-purple-text.text-lighten-3 {
  color: #b39ddb !important;
}

.deep-purple.lighten-2 {
  background-color: #9575cd !important;
}

.deep-purple-text.text-lighten-2 {
  color: #9575cd !important;
}

.deep-purple.lighten-1 {
  background-color: #7e57c2 !important;
}

.deep-purple-text.text-lighten-1 {
  color: #7e57c2 !important;
}

.deep-purple.darken-1 {
  background-color: #5e35b1 !important;
}

.deep-purple-text.text-darken-1 {
  color: #5e35b1 !important;
}

.deep-purple.darken-2 {
  background-color: #512da8 !important;
}

.deep-purple-text.text-darken-2 {
  color: #512da8 !important;
}

.deep-purple.darken-3 {
  background-color: #4527a0 !important;
}

.deep-purple-text.text-darken-3 {
  color: #4527a0 !important;
}

.deep-purple.darken-4 {
  background-color: #311b92 !important;
}

.deep-purple-text.text-darken-4 {
  color: #311b92 !important;
}

.deep-purple.accent-1 {
  background-color: #b388ff !important;
}

.deep-purple-text.text-accent-1 {
  color: #b388ff !important;
}

.deep-purple.accent-2 {
  background-color: #7c4dff !important;
}

.deep-purple-text.text-accent-2 {
  color: #7c4dff !important;
}

.deep-purple.accent-3 {
  background-color: #651fff !important;
}

.deep-purple-text.text-accent-3 {
  color: #651fff !important;
}

.deep-purple.accent-4 {
  background-color: #6200ea !important;
}

.deep-purple-text.text-accent-4 {
  color: #6200ea !important;
}

.indigo {
  background-color: #3f51b5 !important;
}

.indigo-text {
  color: #3f51b5 !important;
}

.indigo.lighten-5 {
  background-color: #e8eaf6 !important;
}

.indigo-text.text-lighten-5 {
  color: #e8eaf6 !important;
}

.indigo.lighten-4 {
  background-color: #c5cae9 !important;
}

.indigo-text.text-lighten-4 {
  color: #c5cae9 !important;
}

.indigo.lighten-3 {
  background-color: #9fa8da !important;
}

.indigo-text.text-lighten-3 {
  color: #9fa8da !important;
}

.indigo.lighten-2 {
  background-color: #7986cb !important;
}

.indigo-text.text-lighten-2 {
  color: #7986cb !important;
}

.indigo.lighten-1 {
  background-color: #5c6bc0 !important;
}

.indigo-text.text-lighten-1 {
  color: #5c6bc0 !important;
}

.indigo.darken-1 {
  background-color: #3949ab !important;
}

.indigo-text.text-darken-1 {
  color: #3949ab !important;
}

.indigo.darken-2 {
  background-color: #303f9f !important;
}

.indigo-text.text-darken-2 {
  color: #303f9f !important;
}

.indigo.darken-3 {
  background-color: #283593 !important;
}

.indigo-text.text-darken-3 {
  color: #283593 !important;
}

.indigo.darken-4 {
  background-color: #1a237e !important;
}

.indigo-text.text-darken-4 {
  color: #1a237e !important;
}

.indigo.accent-1 {
  background-color: #8c9eff !important;
}

.indigo-text.text-accent-1 {
  color: #8c9eff !important;
}

.indigo.accent-2 {
  background-color: #536dfe !important;
}

.indigo-text.text-accent-2 {
  color: #536dfe !important;
}

.indigo.accent-3 {
  background-color: #3d5afe !important;
}

.indigo-text.text-accent-3 {
  color: #3d5afe !important;
}

.indigo.accent-4 {
  background-color: #304ffe !important;
}

.indigo-text.text-accent-4 {
  color: #304ffe !important;
}

.blue {
  background-color: #2196F3 !important;
}

.blue-text {
  color: #2196F3 !important;
}

.blue.lighten-5 {
  background-color: #E3F2FD !important;
}

.blue-text.text-lighten-5 {
  color: #E3F2FD !important;
}

.blue.lighten-4 {
  background-color: #BBDEFB !important;
}

.blue-text.text-lighten-4 {
  color: #BBDEFB !important;
}

.blue.lighten-3 {
  background-color: #90CAF9 !important;
}

.blue-text.text-lighten-3 {
  color: #90CAF9 !important;
}

.blue.lighten-2 {
  background-color: #64B5F6 !important;
}

.blue-text.text-lighten-2 {
  color: #64B5F6 !important;
}

.blue.lighten-1 {
  background-color: #42A5F5 !important;
}

.blue-text.text-lighten-1 {
  color: #42A5F5 !important;
}

.blue.darken-1 {
  background-color: #1E88E5 !important;
}

.blue-text.text-darken-1 {
  color: #1E88E5 !important;
}

.blue.darken-2 {
  background-color: #1976D2 !important;
}

.blue-text.text-darken-2 {
  color: #1976D2 !important;
}

.blue.darken-3 {
  background-color: #1565C0 !important;
}

.blue-text.text-darken-3 {
  color: #1565C0 !important;
}

.blue.darken-4 {
  background-color: #0D47A1 !important;
}

.blue-text.text-darken-4 {
  color: #0D47A1 !important;
}

.blue.accent-1 {
  background-color: #82B1FF !important;
}

.blue-text.text-accent-1 {
  color: #82B1FF !important;
}

.blue.accent-2 {
  background-color: #448AFF !important;
}

.blue-text.text-accent-2 {
  color: #448AFF !important;
}

.blue.accent-3 {
  background-color: #2979FF !important;
}

.blue-text.text-accent-3 {
  color: #2979FF !important;
}

.blue.accent-4 {
  background-color: #2962FF !important;
}

.blue-text.text-accent-4 {
  color: #2962FF !important;
}

.light-blue {
  background-color: #03a9f4 !important;
}

.light-blue-text {
  color: #03a9f4 !important;
}

.light-blue.lighten-5 {
  background-color: #e1f5fe !important;
}

.light-blue-text.text-lighten-5 {
  color: #e1f5fe !important;
}

.light-blue.lighten-4 {
  background-color: #b3e5fc !important;
}

.light-blue-text.text-lighten-4 {
  color: #b3e5fc !important;
}

.light-blue.lighten-3 {
  background-color: #81d4fa !important;
}

.light-blue-text.text-lighten-3 {
  color: #81d4fa !important;
}

.light-blue.lighten-2 {
  background-color: #4fc3f7 !important;
}

.light-blue-text.text-lighten-2 {
  color: #4fc3f7 !important;
}

.light-blue.lighten-1 {
  background-color: #29b6f6 !important;
}

.light-blue-text.text-lighten-1 {
  color: #29b6f6 !important;
}

.light-blue.darken-1 {
  background-color: #039be5 !important;
}

.light-blue-text.text-darken-1 {
  color: #039be5 !important;
}

.light-blue.darken-2 {
  background-color: #0288d1 !important;
}

.light-blue-text.text-darken-2 {
  color: #0288d1 !important;
}

.light-blue.darken-3 {
  background-color: #0277bd !important;
}

.light-blue-text.text-darken-3 {
  color: #0277bd !important;
}

.light-blue.darken-4 {
  background-color: #01579b !important;
}

.light-blue-text.text-darken-4 {
  color: #01579b !important;
}

.light-blue.accent-1 {
  background-color: #80d8ff !important;
}

.light-blue-text.text-accent-1 {
  color: #80d8ff !important;
}

.light-blue.accent-2 {
  background-color: #40c4ff !important;
}

.light-blue-text.text-accent-2 {
  color: #40c4ff !important;
}

.light-blue.accent-3 {
  background-color: #00b0ff !important;
}

.light-blue-text.text-accent-3 {
  color: #00b0ff !important;
}

.light-blue.accent-4 {
  background-color: #0091ea !important;
}

.light-blue-text.text-accent-4 {
  color: #0091ea !important;
}

.cyan {
  background-color: #00bcd4 !important;
}

.cyan-text {
  color: #00bcd4 !important;
}

.cyan.lighten-5 {
  background-color: #e0f7fa !important;
}

.cyan-text.text-lighten-5 {
  color: #e0f7fa !important;
}


/* table */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table {
    /* width: 100%;
    max-width: 100%; */
    margin-bottom: 1rem;
}
table {
    border-collapse: collapse;
    background-color: transparent;
}
.table thead th, .table th {
    border: 0px;
}
.table thead th, .table th {
    font-weight: 500;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}
.table td, .table th {
    border-color: #f3f1f1;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}
table th {
    font-weight: 400;
}
th {
    text-align: left;
}


.avatar-status {
  position: relative;
  display: inline-block;
  line-height: 50px;
  width: 28px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom;
}

.avatar-status i {
  position: absolute;
  right: -2px;
  bottom: 18px;
  width: 9px !important;
  height: 9px !important;
  border: 1px solid #fff;
  border-radius: 100%;
}

.avatar-status span.text-circle {
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 1.2rem;
  background: #fafafa;
  display: table-cell;
}

.avatar-status img {
  width: 100%;
  max-width: 100%;
  height: auto;
  background: #e6e6e6;
  border: 0 none;
  border-radius: 1000px;
}

.avatar-online i {
  background-color: #00E676;
}

.avatar-off i {
  background-color: #bdbdbd;
}

.avatar-busy i {
  background-color: #FF1744;
}

.avatar-away i {
  background-color: #ffc400;
}

.avatar-100 {
  width: 100px;
}

.avatar-100 span.text-circle {
  width: 100px;
  height: 100px;
}

.avatar-100 i {
  height: 20px;
  width: 20px;
}

.avatar-50 {
  width: 50px;
}

.avatar-50 span.text-circle {
  width: 50px;
  height: 50px;
}

.avatar-50 i {
  height: 10px;
  width: 10px;
}

.avatar-lg {
  width: 144px;
}

.avatar-lg span.text-circle {
  width: 144px;
  height: 144px;
}

.avatar-lg i {
  right: 0;
  bottom: 0;
  height: 20px;
  width: 20px;
}

.avatar-md {
  width: 40px;
}

.avatar-md span.text-circle {
  width: 40px;
  height: 40px;
}

.avatar-md i {
  right: 0;
  bottom: 0;
  height: 10px;
  width: 10px;
}

.avatar-sm {
  width: 32px;
}

.avatar-sm span.text-circle {
  width: 32px;
  height: 32px;
}

.avatar-sm i {
  height: 8px;
  width: 8px;
}

.avatar-xs {
  width: 24px;
}

.avatar-xs span.text-circle {
  width: 24px;
  height: 24px;
}

.avatar-xs i {
  height: 7px;
  width: 7px;
}

.collection .collection-item.avatar:not(.circle-clipper) > .circle {
  background: #e6e6e6;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../../fonts/material-design-icons/MaterialIcons-Regular.ttf") format("truetype"), url("../../../fonts/material-design-icons/MaterialIcons-Regular.woff2") format("woff2"), url("../../../fonts/material-design-icons/MaterialIcons-Regular.woff") format("woff"), url("../../../fonts/material-design-icons/MaterialIcons-Regular.eot");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white;
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/*----------------------------------------
    Pre-loader
------------------------------------------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #eceff1;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  background: url("../../../images/avatar/avatar-2.png") no-repeat center center;
  z-index: 1001;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.progress {
  background-color: rgba(255, 64, 129, 0.22);
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}

/*----------------------------------------
    Page Header
------------------------------------------*/
h1.logo-wrapper {
  margin: 0;
}

h1 span.logo-text {
  font-size: 26px;
  padding-left: 8px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.menu-sidebar-collapse {
  margin: 0 10px;
}

.menu-sidebar-collapse i {
  line-height: 36px !important;
}

header .brand-logo {
  margin: 1px 0px;
  padding: 15px 13px;
  line-height: 0;
}

header .brand-logo img {
    height: 72px;
    margin-top: -5px;
    margin-left: 15px;
}
.edit{
    position: relative;
    height: 120px;
}
@media only screen and (max-width: 992px) {
  aside .nav-wrapper {
    text-align: center;
  }
  aside .nav-wrapper a.page-title {
    font-size: 36px;
  }
  aside .brand-sidebar {
    box-shadow: none;
    left: calc(50% - 120px);
  }
  aside .brand-sidebar .navbar-toggler {
    display: none;
  }
  aside .brand-sidebar .logo-wrapper {
    padding: 5px 18px;
  }
  aside .brand-sidebar .sidebar-collapse {
    top: -48px;
  }
  ul.side-nav.leftside-navigation {
    top: 56px !important;
  }
}
@media only screen and (min-width: 600px) {
  aside .nav-wrapper {
    text-align: center;
  }
  aside .nav-wrapper a.page-title {
    font-size: 36px;
  }
  aside .brand-sidebar {
    box-shadow: none;
    left: calc(50% - 120px);
  }
  aside .brand-sidebar .navbar-toggler {
    display: none;
  }
  aside .brand-sidebar .logo-wrapper {
    padding: 5px 18px;
  }
  aside .brand-sidebar .sidebar-collapse {
    top: -48px;
  }
  ul.side-nav.leftside-navigation {
    top: 64px !important;
  }
}


/*Search box*/
#header .header-search-wrapper {
  margin: 10px auto 0 260px;
  width: calc(100% - 600px);
  height: 40px;
  display: inline-block;
  position: relative;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  -moz-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

#header .header-search-wrapper.sideNav-lock {
  margin: 10px auto 0 260px;
}

#header .header-search-wrapper i {
  position: absolute;
  font-size: 24px;
  top: 6px;
  left: 24px;
  line-height: 32px !important;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

#header input.header-search-input {
  display: block;
  padding: 8px 8px 8px 72px;
  width: 87%;
  background: rgba(255, 255, 255, 0.3);
  height: 24px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border: none;
  font-size: 16px;
  appearance: textfield;
  font-weight: 400;
  outline: none;
  border-radius: 3px;
}

#header input.header-search-input:hover {
  background: rgba(255, 255, 255, 0.5);
}

#header input.header-search-input:focus {
  color: #333;
  background: #fff;
  border-bottom: none !important;
  box-shadow: none !important;
}

#header .header-search-wrapper-focus i {
  color: #444;
}

#header .header-search-input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

#header .header-search-input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

#header .header-search-input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

#header .header-search-input:focus::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

#header .header-search-input:focus::-moz-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

#header .header-search-input:focus::placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

#header .header-search-input:focus:-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

#header .header-search-input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.search-out {
  display: none;
}

.search-out input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fff !important;
  box-shadow: none;
}

.search-out-text {
  border-bottom: 1px solid #fff !important;
}

.translation-button img {
  position: relative;
  top: 12px;
}

#translation-dropdown .language-select {
  position: relative;
  top: -9px;
}

.notification-badge {
  font-family: "Roboto", sans-serif;
  position: relative;
  right: 5px;
  top: -20px;
  color: #ffffff;
  background-color: #00bcd4;
  margin: 0 -.8em;
  border-radius: 50%;
  padding: 2px 5px;
}

#notifications-dropdown h5 {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}

#notifications-dropdown li {
  padding: 8px 16px;
  font-size: 1rem;
}

#notifications-dropdown li > a {
  padding: 0;
  font-size: 1.1rem;
  font-weight: 300;
}

#notifications-dropdown li > a > span {
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

#notifications-dropdown li > time {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 38px;
}

#notifications-dropdown li.divider {
  padding: 0;
}

/*----------------------------------------
    Main Menu - SideNav
------------------------------------------*/
nav.top-nav {
  height: 122px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

nav.top-nav a.page-title {
  line-height: 122px;
  font-size: 48px;
}

nav ul li.no-hover:hover {
  background: none;
}

.side-nav {
  width: 240px;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  -moz-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.side-nav.native-scroll {
  overflow-y: scroll !important;
}

.side-nav a {
  line-height: 42px;
  height: 42px;
}

.side-nav li > a {
  padding: 0 16px !important;
}

.side-nav li > a:hover {
  background-color: transparent;
}

.side-nav.leftside-navigation .collapsible-body li.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.side-nav.fixed.leftside-navigation .collapsible-body li.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active i,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active i {
  color: #fff;
}

.nav-collapsed .brand-sidebar {
  width: 64px;
}

.nav-collapsed .brand-sidebar .navbar-toggler, .nav-collapsed .brand-sidebar .brand-logo span {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 0.05s linear;
}

.nav-collapsed .side-nav {
  width: 64px;
}

.nav-collapsed .side-nav .user-options, .nav-collapsed .side-nav .nav-text, .nav-collapsed .side-nav .collapsible-body span, .nav-collapsed .side-nav span.badge, .nav-collapsed .side-nav .collapsible-header:after {
  display: none;
}

.nav-collapsed .side-nav .nav-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.nav-expanded .side-nav .nav-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.brand-sidebar {
  position: fixed;
  left: 0;
  width: 240px;
  top: 0px;
  z-index: 9;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  -moz-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.brand-sidebar .logo-wrapper {
  font-size: 36px;
  padding: 21px 10px;
  white-space: nowrap;
  line-height: 17px !important;
}

.brand-sidebar .logo-wrapper a.brand-logo {
  color: #fff;
}

.brand-sidebar .logo-wrapper a.brand-logo img {
  height: 18px;
}

.brand-sidebar .logo-wrapper a.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 17px;
}

.brand-sidebar .logo-wrapper a.navbar-toggler i {
  font-size: 12px;
  color: #fff;
}

ul.side-nav.leftside-navigation {
  top: 64px;
  overflow: hidden;
  height: 100%;
}

ul.side-nav.leftside-navigation hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}

ul.side-nav.leftside-navigation li:not(.no-padding) {
  line-height: 44px;
}

ul.side-nav.leftside-navigation li:not(.no-padding):hover {
  background-color: rgba(0, 0, 0, 0.04);
}

ul.side-nav.leftside-navigation li:not(.no-padding).active {
  background-color: rgba(0, 0, 0, 0.04);
}

ul.side-nav.leftside-navigation li:not(.no-padding) a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
}

ul.side-nav.leftside-navigation li:not(.no-padding).logo-details {
  margin-bottom: 15px;
  padding: 15px 0 0 15px;

}


ul.side-nav.leftside-navigation .profile-btn {
  margin: 0;
  text-transform: capitalize;
  padding: 0;
  text-shadow: 1px 1px 1px #444;
  font-size: 15px;
}

ul.side-nav.leftside-navigation ul.collapsible-accordion {
  background-color: #fff;
}

ul.side-nav li {
  padding: 0;
}

ul.side-nav .collapsible-header {
  margin: 0;
  font-weight: 500;
  /* Sidebar nav open close icons*/
}

ul.side-nav .collapsible-header:after {
  font-family: 'Material Icons';
  content: "keyboard_arrow_right";
  color: #9e9e9e;
  font-size: 18px;
  position: absolute;
  right: 16px;
}

ul.side-nav .collapsible-header.active:after {
  content: "keyboard_arrow_down";
}

#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.4rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

#slide-out li .collapsible-body a i {
  font-size: 1.2rem;
}

#slide-out ul.side-nav li {
  padding: 0 !important;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.caption-uppercase {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -50px;
}

.user-task,
.user-time {
  margin: 0;
  font-size: 13px;
  color: #fff;
}

.user-roal {
  color: #fff;
  margin-top: -16px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #444;
}

.bold > a {
  font-weight: bold;
}

.rightside-navigation {
  overflow: hidden;
}


.border-bottom-1 {
  border-bottom: 1px solid #f5f5f5;
}

.activity::before {
  position: absolute;
  top: 0;
  height: 100vh;
  margin-top: 130px;
  bottom: 0;
  left: 16%;
  width: 1px;
  margin-left: -1px;
  content: "";
  background-color: #e0e0e0;
  z-index: -1;
}

.input-field div.error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #FF4081;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.input-field label.active {
  width: 100%;
}

.left-alert input[type=text] + label:after,
.left-alert input[type=password] + label:after,
.left-alert input[type=email] + label:after,
.left-alert input[type=url] + label:after,
.left-alert input[type=time] + label:after,
.left-alert input[type=date] + label:after,
.left-alert input[type=datetime-local] + label:after,
.left-alert input[type=tel] + label:after,
.left-alert input[type=number] + label:after,
.left-alert input[type=search] + label:after,
.left-alert textarea.materialize-textarea + label:after {
  left: 0px;
}

.right-alert input[type=text] + label:after,
.right-alert input[type=password] + label:after,
.right-alert input[type=email] + label:after,
.right-alert input[type=url] + label:after,
.right-alert input[type=time] + label:after,
.right-alert input[type=date] + label:after,
.right-alert input[type=datetime-local] + label:after,
.right-alert input[type=tel] + label:after,
.right-alert input[type=number] + label:after,
.right-alert input[type=search] + label:after,
.right-alert textarea.materialize-textarea + label:after {
  right: 70px;
}

/*
.card {
  overflow: hidden;
} */

.collection-header {
  font-size: 1.8rem;
  font-weight: 500;
}
p.collections-title {
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

p.collections-content {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.collection-item.avatar {
  height: auto;
  padding-top: 22px;
}


.collection .collection-item.avatar i.circle {
  font-size: 28px;
}
.circle{
  position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 0px;
    display: inline-block;
    vertical-align: middle;
}
i.circle{
  font-size: 28px;
line-height: 42px;
color: #fff;
background-color: #999;
text-align: center;
}
.card_header{
    min-height: 50px;
    padding-left: 54px;
    position: relative;
    height: auto;
    padding-top: 0px;

}

#profile-card .card-image {
  height: 150px;
}
.btn-primary {
    background-color: #4285f4!important;
    color: #fff!important;
}
.btn-unique {
    background-color: #880e4f!important;
    color: #fff!important;
}
.btn-light-blue {
    background-color: #82b1ff!important;
    color: #fff!important;
}
.success-color {
    background-color: #00c851!important;
}
.mb15{
  margin-bottom: 15px;
}
.mr15{
  margin-right: 15px;
}
.primary {
    background-color: #4285f4!important;
}

#profile-card .btn-move-up {
  position: relative;
  top: -40px;
  right: -18px;
  margin-right: 10px !important;
}

#profile-card .card-content p {
  font-size: 1.2rem;
  margin: 10px 0 12px;
}

.card-move-up .move-up {
  padding: 20px;
}

.black-overlay {
  background-color: rgba(0, 0, 0, 0.42) !important;
}

tr.group {
  background-color: #ddd !important;
}

tr.group:hover {
  background-color: #ddd !important;
}

@media only screen and (max-width: 1024px) {
  tfoot {
    display: none;
  }
}

.flat-text-header {
  height: 35px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  margin: 27px auto;
}

.flat-text {
  height: 25px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  margin: 27px auto;
}


.waves-color-demo .collection-item {
  height: 57px;
  line-height: 57px;
}

.collection a.collection-item:not(.active):hover {
  background-color: #f9f9f9;
}
.collection li.collection-item:hover {
  background-color: #f9f9f9;
}


.browser-window {
  text-align: left;
  width: 100%;
  height: auto;
  display: inline-block;
  -webkit-border-radius: 5px 5px 2px 2px;
  -moz-border-radius: 5px 5px 2px 2px;
  border-radius: 5px 5px 2px 2px;
  background-clip: padding-box;
  background-color: transparent;
  margin: 20px 0;
  overflow: hidden;
}

.browser-window .top-bar {
  height: 30px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-clip: padding-box;
  border-top: thin solid #eaeae9;
  border-bottom: thin solid #ddd;
  background: linear-gradient(#e7e7e6, #e0e0e0);
}

.browser-window .circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #fff;
  margin-right: 1px;
}

.browser-window .circles {
  margin: 5px 12px;
}

.browser-window .content {
  margin: 0;
  width: 100%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
}

.browser-window .row {
  margin: 0;
}
/* color */
.gradient-45deg-red-pink {
    background: #FF5252;
    background: -webkit-linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
    background: linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
}
.gradient-45deg-amber-amber {
    background: #ff6f00;
    background: -webkit-linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
    background: linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
}
/* color */
#modal-item .collection-header {
    padding: 20px;
}
#close-circle {
  background-color: #ff5c5a;
}

#minimize-circle {
  background-color: #fdb45c;
}

#maximize-circle {
  background-color: #1bc656;
}

.clear {
  clear: both;
}

.promo i {
  color: #ee6e73;
  font-size: 6rem;
  display: block;
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

/*----------------------------------------
    Shadow effect
------------------------------------------*/
.shadow-demo {
  background-color: #26a69a;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.collapsible span.badge {
  margin-left: auto;
}

#input-select .input-field label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}

/*----------------------------------------
    Footer
------------------------------------------*/
.page-footer.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-footer .container {
  padding: 0 15px;
}

#world-map-markers {
  height: 300px;
}

#polar-chart-holder {
  padding-top: 20px;
}
.hideOnEdit{
    display:none;
}
.ReadOnly .hideOnEdit {
    display: block;
}
.ReadOnly .showOnEdit {
    display: none;
}