body{
  /* background-color: #F6F4F1!important; */
}
.top_header{
    background-color: #424d59;
    border-color: #2c343c;
}
.heading {
    background: rgba(0,0,0,.1);
    padding: 15px;
    margin: 20px 0 20px 0;
}
.form p {
    margin-bottom: 10px!important;
    text-align: left;
    margin-left: 12px;
}
td, th {
    padding: 4px 10px 4px 3px!important;
}
.small_input{
  height: 2rem!important;
  margin: 0 0 5px 0!important;
}
.square {
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.square input:checked + .square-variant {
    background: rgba(3, 169, 244, 0.8);
    color: black;
    transition-duration: .3s;
    color: #fff;
}

.square input:not(checked) + .square-variant {
    opacity: 0.8;
}
.btn_q1{
  background-color: #e7e7e7;
color: black;
width: 100%;
padding: 15px;
height: 54px!important;
}
.square-variant {
    overflow: hidden;
    display: block;
    position: relative;
    text-align: center;
}
.square [type="radio"]:checked+label:after, .square [type="radio"].with-gap:checked+label:before, .square [type="radio"].with-gap:checked+label:after {
    display: none;
}
.square [type="radio"]:not(:checked)+label:before, .square [type="radio"]:not(:checked)+label:after {
  display: none;
}
.square [type="radio"]:not(:checked)+label, .square [type="radio"]:checked+label {
   padding-left: 15px!important;
 }
/* .btn_q1:hover{
  background-color: #42A5F5;
  color: #fff;
}
.btn_q1:active{
  background-color: #42A5F5;
  color: #fff;
} */
.done{
  /* visibility: hidden; */
  display: none;
}
.answered i.done{
  /* visibility: visible; */
  display: inline-block;
}
.parallax-container {
      height: 120px;
    }
.dropdown-content li>a, .dropdown-content li>span {
    color: #2196F3;

}
.input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #2196F3;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #2196F3;
     box-shadow: 0 1px 0 0 #2196F3;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #2196F3;
   }
