#register h3  {
    border-bottom: 3px solid #ff9f1b;
}
#enter h3  {
    border-bottom: 3px solid #2196f3;
}
#register{
  width: 100%;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-image: url(../images/55.jpg);
  background-repeat: no-repeat;
  background-position: center !important;
  /* background-size: 100% 100%; */
  background-size: cover;
  z-index: 1;
}
.log{
  margin-top: 25px;
}
.premise{
  position: absolute;
  z-index: -2;
}
.modal .modal-content .modal-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
}
.modal .modal-title {
    font-size: 24px;
    font-weight: 300;
}
#enter.modal{
  width: 30%;
}
.close  {
    /* color: rgba(108, 116, 127, 0.5); */
    text-align: right;
    margin: -10px -10px 0 0;
    cursor: pointer;
}
@media (max-width: 948px){
  #enter.modal{
    width: 50%;
  }

}

@media (max-width: 768px){
  #enter.modal{
    width: 70%;
    max-height: 80vh;
  }
}
@media (max-width: 628px){
  #enter.modal{
    width: 85%;
    max-height: 95vh;
  }
  #enter{
    top: 2%!important;
  }
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #2196F3;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #2196F3;
}
#register:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 69, 126, 0.8);
  z-index: -1;
}
.picker__date-display {
    text-align: left;
    background-color: #ff9f1b;
    color: #fff;
    padding: 18px;
    font-weight: 300;
}

input[type=text]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #ff9f1b;
  box-shadow: 0 1px 0 0 #ff9f1b;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label{
  color: #ff9f1b;
}
input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus{
  border-bottom: 1px solid #2196F3;
-webkit-box-shadow: 0 1px 0 0 #2196F3;
box-shadow: 0 1px 0 0 #2196F3;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff9f1b;
  box-shadow: 0 1px 0 0 #ff9f1b;
}


input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #ff9f1b;
  box-shadow: 0 1px 0 0 #ff9f1b;
}
input[type=password]:not(.browser-default):focus:not([readonly])+label{
  color: #ff9f1b;
}
input[type=password].valid:not(.browser-default){
  border-bottom: 1px solid #2196F3;
-webkit-box-shadow: 0 1px 0 0 #2196F3;
box-shadow: 0 1px 0 0 #2196F3;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff9f1b;
  box-shadow: 0 1px 0 0 #ff9f1b;
}
/* login */
