body{
  margin: 0px;

}
main {
  flex: 1 0 auto;
}

nav .button-collapse i {
    height: 56px;
    line-height: 56px;
    color: #272d4e;
}
nav .brand-logo img {
    margin-top: 15px;
    max-height: 34px;
    margin-left: 30px;
}
nav {
    background-color: #fff;
    width: 100%;
    font-weight: 300;
    overflow: visible!important;
}
nav a, nav ul li a {
    color: #212121;
}
nav ul a {
    font-size: 1rem;
    padding: 0 15px;
}
nav ul a:hover{
  background-color:rgba(0,0,0,0.1);
  border-bottom: 2px solid #e8a72a;
}
nav ul a.btn, nav ul a.btn-flat, nav ul a.btn-floating, nav ul a.btn-large {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
}
#sidenav-overlay {
    position: relative!important;
}
.side-nav {
    width: 200px!important;
  }


.main_block{
  width: 100%;
  height: 100%;
  background-color: #272D4E;
  background-image: radial-gradient(circle farthest-side at right bottom,#414b82 34%,#272d4e 100%);
}

.production{
  z-index: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-image: url(../images/17.jpg);
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: 100% 100%;
}
.slider {
    height: 58vh!important;
}
.slider .slides {
    height: 60vh!important;
}
@media (max-width: 599px) {
  .clients {
      display: none;
  }
}

@media (min-width: 600px) {
  .clients_mob {
      display: none;
  }
}

/* banner */
.banner{
    width: 100%;
    margin: 0px;
}
.img_block2{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-image: url(../images/19.jpg);
    background-repeat: no-repeat;
    background-position: center !important;
    /* background-size: 100% 100%; */
    background-size: cover;
    z-index: 1;
}
.img_block2:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 69, 126, 0.8);
  z-index: -1;
}
/* banner */


.slider .slides li .caption.left_block{
    color: #fff;
    position: absolute;
    top: 10%;
    left: 7%;
    width: 60%;
    opacity: 0;
}
.slider .slides li .caption.right_block{
    color: #fff;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 60%;
    opacity: 0;
}
.distribution{
    z-index: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-image: url(../images/19.jpg);
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: 100% 100%;
}


.main_icon_block{
  margin-top: 40px;
  text-align: center;
}
.competencies, .whatwedo, .clients_mob, .clients, .aboutplatform {
   padding-top: 65px;
}
.clients .slider  .slides {
    background-color: #fff!important;;
}
.clients_mob .slider  .slides {
    background-color: #fff!important;;
}
.clients_mob .slider  .slides li:not(.active)  {
    display:none;
}

.clients_img{
    height: 100%!important;
    width: auto!important;
    background-size: contain!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

.grey.lighten-10{
  background-color: #f3f3f4!important;
}
hr{
  width:50%
}
.clients_block{
  width: 100%;
  height: 300px;
  padding: 0px!important;
}

.title {
    margin-top: 20px;
    line-height: inherit;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    color: #2199ce;
}

@media (max-width: 768px) {
  .title {
      margin-top: 5px;
      line-height: inherit;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
}
.client-img-wrap{
  height: 150px;
  position: relative;
}
.center-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.description .card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    min-height: 365px;
}

.borderR{
  border-right: 1px solid #c3e5fe

}
.borderB{
  border-bottom: 1px solid #c3e5fe
}
.main_title {
    /* margin-top: 70px; */
    line-height: inherit;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}
.subtitle2 {
      font-size: 20px;
      font-weight: 600;
      /* color: #1872b7; */
      color: #030d63;
      line-height: 25px;
      text-align: center;
}
.card .card-image img {
    height: 270px;
}

.subtitle {
    color: #767676;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
}
.carousel a {
  color: #fff!important;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}

section {
    position: relative;
    /* padding-top: 30px; */
    padding-bottom: 15px;
    height: 100%;
    width: 100%;
}


.page-footer {
    background-color: #272D4E;
    /* background-image: radial-gradient(circle farthest-side at right bottom,#414b82 34%,#272d4e 100%);
     */
     background-image: linear-gradient(135deg, #000428, #0074da);
}
}
.carousel .carousel-item {
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
.clients .slider {
    height: 450px!important;
}
.clients_mob .slider {
    height: 300px!important;
}
.slider .slides {
    background-color: #f8f8f8!important;
    margin: 0;
    /* height: 400px; */
}
.competencies h3, .aboutplatform h3, .whatwedo h3, .production h3, .clients h3, .building h3, .distribution h3{
    border-bottom: 2px solid #e8a72a;
    padding-bottom: 0.5em;
}


.aboutplatform{
background-color: #f8f8f8;
}

.card {
    margin: .5rem 0 1rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
/* .description{
    background-color: #f3f3f4;
} */
.slider .indicators .indicator-item.active {
    background-color: #e8a72a!important;
}
.description_card{
  padding: 40px;
}
.slider .indicators {
    z-index: 100;
}
/* .slider .slides li img {
    background-position: right!important;
} */
/* .slider .slides li .caption h3 {
      font-size: 3.92rem!important;
}
.slider .slides li .caption  h4 {
      font-size: 3rem!important;
  } */



@media (max-width: 768px) {
  h3 {
      font-size: 1.92rem!important;
  }
  h4 {
      font-size: 1.5rem!important;
  }
}
@media (max-width: 768px) {
  .slider {
      height: 60vh!important;
  }
  .slider .slides {
      height: 50vh!important;
  }
}

@media (max-width: 600px) {
  .main_icon_block img {
    width: 50px;
    height: 50px;
  }
}
.card.small .card-title {
   font-weight: 400;
}
.whatwedo .card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    min-height: 150px;
}
/* .processes-container .card.small {
    height: 420px;
} */
/* .whatwedo .card-content h5{
    min-height: 120px;
    font-size: 20px;

} */
.card-action.card-action{
    position: relative;
    background-color: inherit;
    border-top: 1px solid #e8a72a!important;
    padding: 20px!important;
    z-index: 2!important;
}
.card .card-action a{
  color: #e8a72a!important;
  margin-right: 20px!important;
  transition: color .3s ease;
  text-transform: uppercase;
}
.iconsBackground {
      position: absolute;
      left: 50%;
      width: 60px;
      height: 60px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      background-color: #e7e7e7;
      top: 20px;
      margin-left: -30px;
  }
.img_block{
margin-top: 30px;
}
.center-img {
  display: block;
  margin: 0 auto;
}
.gradient-color {
    background: #000428;
    color: #fff;
    background: -moz-linear-gradient(-45deg, #000428, #0074da);
    background: -webkit-linear-gradient(-45deg, #000428, #0074da);
    background: linear-gradient(135deg, #000428, #0074da);
}
/* production */
.description h5{
    font-size: : 35px;
    color: #2199ce;
    margin: 0;
}
.social-bookmarkas {
    margin-top: 15px;
}
.social-bookmarkas>li {
    display: inline-block;
}
.social-bookmarkas li a {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ff9f1b;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-right: 8px;
    text-align: center;
    width: 35px;
	color: #ff9f1b;
}
.social-bookmarkas li a i {
    color: #ff9f1b;
}

.footer_link li i {
    color: #ff9f1a!important;
    margin-right: 7px!important;
}
.footer_link li a {
    display: inline-block;
    font-size: 15px;
    padding: 5px 0;
	color: #fff;
}
.home-btn.btn-show i {
    background: #ff9f1b none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 30px;
    color: #fff;
    padding: 13px 12px;
    position: fixed;
    right: 30px;
    transition: all 0.4s ease 0s;
    z-index: 1111;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.08);
}
.home-btn.btn-show a i :hover{
background: #0084b4 none repeat scroll 0 0;
}
.collection_block{
  margin-top: 30px;
}
.production{
  z-index: 1;
  /* height: 50vh; */
  padding-bottom: 150px;
  padding-top: 30px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-image: url(../images/17.jpg);
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: cover;
  /* background-size: 100% 100%; */
}
.production:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 45, 78, 0.8);
  z-index: -1;
}
.building{
  z-index: 1;
  width: 100%;
  padding-bottom: 150px;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-image: url(../images/133.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-size: 100% 100%; */
}
.building:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 69, 126, 0.8);
  z-index: -1;
}
.distribution {
  z-index: 1;
  width: 100%;
  padding-bottom: 150px;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-image: url(../images/135.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.distribution:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 69, 126, 0.8); */
  background-color: rgba(60, 51, 99, 0.8);
  z-index: -1;
}
@media (max-width: 768px){
.subtitle {
    margin-top: 5px;
    line-height: inherit;
    font-size: 20px!important;
    font-weight: 400;
    text-align: center;
}
}
.description_card.card .card-image img {
    height: 50%;
}
.big_text{
  font-size: 35px!important;
  font-weight: bold!important;
}
.description_card{
      margin-top: -130px!important;
      position: relative;
      background: #fff;
      z-index: 100;
      padding: 15px;
}
.M100{
  margin-top: 100px;
}
