﻿<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    <img class="block-center rounded" src="assets/img/logo.png" alt="Image" />
                </a>
            </div>
            <div class="card-body">
                <p class="text-center py-2">Зареєструватися</p>
                <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="registerForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                    <div class="form-group">
                        <label class="text-muted mb-1">Електронна почта</label>
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="email" name="account_email" placeholder="Введіть почту" autocomplete="off" formControlName="email" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">Це поле є обов'язковим</div>
                        <div class="text-danger" *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">Це поле має бути дійсною електронною адресою</div>
                    </div>
                    <div formGroupName="passwordGroup">
                        <div class="form-group">
                            <label class="text-muted mb-1">Пароль</label>
                            <div class="input-group with-focus">
                                <input class="form-control border-right-0" id="id-password" type="password" name="password" formControlName="password" [formControl]="valForm.get('passwordGroup.password')" />
                                <div class="input-group-append">
                                    <span class="input-group-text text-muted bg-transparent border-left-0">
                                        <em class="fa fa-lock"></em>
                                    </span>
                                </div>
                            </div>
                            <div class="text-danger" *ngIf="valForm.get('passwordGroup.password').hasError('required') && (valForm.get('passwordGroup.password').dirty || valForm.get('passwordGroup.password').touched)">Це поле є обов'язковим</div>
                            <div class="text-danger" *ngIf="valForm.get('passwordGroup.password').hasError('pattern') && (valForm.get('passwordGroup.password').dirty || valForm.get('passwordGroup.password').touched)">Пароль повинен мати "a-z, A-Z, 0-9" і бути довжиною 6-10 символів</div>
                        </div>
                        <div class="form-group">
                            <label class="text-muted mb-1">Повторіть пароль</label>
                            <div class="input-group with-focus">
                                <input class="form-control border-right-0" type="password" name="confirmPassword" formControlName="confirmPassword" [formControl]="valForm.get('passwordGroup.confirmPassword')" />
                                <div class="input-group-append">
                                    <span class="input-group-text text-muted bg-transparent border-left-0">
                                        <em class="fa fa-lock"></em>
                                    </span>
                                </div>
                            </div>
                            <div class="text-danger" *ngIf="valForm.get('passwordGroup.confirmPassword').hasError('required') && (valForm.get('passwordGroup.confirmPassword').dirty || valForm.get('passwordGroup.confirmPassword').touched)">Це поле є обов'язковим</div>
                            <div class="text-danger" *ngIf="valForm.get('passwordGroup.confirmPassword').hasError('equalTo')">Паролі не збігаються</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-muted mb-1">Ім'я</label>
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" name="account_firstName" placeholder="Введіть ім'я" autocomplete="off" formControlName="firstName" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['firstName'].hasError('required') && (valForm.controls['firstName'].dirty || valForm.controls['firstName'].touched)">Це поле є обов'язковим</div>
                    </div>
                    <div class="form-group">
                        <label class="text-muted mb-1">Прізвище</label>
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" name="account_surname" placeholder="Введіть прізвище" autocomplete="off" formControlName="surname" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['surname'].hasError('required') && (valForm.controls['surname'].dirty || valForm.controls['surname'].touched)">Це поле є обов'язковим</div>
                    </div>
                    <div class="form-group">
                        <label class="text-muted mb-1">Курс</label>
                        <div class="input-group with-focus">

                            <select class="form-control border-right-0" formControlName="eduGroup">
                                <option value="">--Виберіть курс--</option>
                                <option [value]="group.id" *ngFor="let group of eduGroups">{{group.name}}</option>
                            </select>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['eduGroup'].hasError('required') && (valForm.controls['eduGroup'].dirty || valForm.controls['eduGroup'].touched)">Це поле є обов'язковим</div>
                    </div>
                    <div class="form-group">
                        <label class="text-muted mb-1">Телефон</label>
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" name="account_phoneNo" placeholder="Наприклад '0915478653'" formControlName="phoneNo" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['phoneNo'].hasError('required') && (valForm.controls['phoneNo'].dirty || valForm.controls['phoneNo'].touched)">Це поле є обов'язковим</div>
                        <div class="text-danger" *ngIf="valForm.controls['phoneNo'].hasError('pattern') && (valForm.controls['phoneNo'].dirty || valForm.controls['phoneNo'].touched)">Телефон повинен мати цифри і бути довжиною 10-13 символів</div>
                    </div>
                    <button *ngIf="!isRunning" class="btn btn-block btn-primary mt-3" type="submit">Створити аккаунт</button>
                    <p *ngIf="isRunning" class="pt-3 text-center">Відправка данних</p>
                    <div class="text-danger" *ngIf="regError">Помилка реєстрації</div>
                </form>
                <!-- <div class="alert alert-danger text-center"></div> -->
                <p class="pt-3 text-center">Маєш аккаунт?</p>
                <a class="btn btn-block btn-secondary" [routerLink]="'/login'">Ввійти</a>
                
            </div>
        </div>
        <!-- END card-->
        <div class="p-3 text-center">
            <span>&copy;</span>
            <span>{{ settings.getAppSetting('year') }}</span>
            <br />
            <span>{{ settings.getAppSetting('name') }}</span>
            <br />
            <span>{{ settings.getAppSetting('description') }}</span>
        </div>
    </div>
</div>
