﻿<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    <img class="block-center rounded" src="assets/img/logo.png" alt="Image" />
                </a>
            </div>
            <div class="card-body">
                <p class="text-center py-2">Скидання паролю</p>
				<form [formGroup]="valForm" class="form-validate" role="form" name="recoverForm" novalidate="" (submit)="submitForm($event, valForm.value)">
					<p class="text-center">Введіть свою пошту, щоб отримати інструкції щодо скидання пароля.</p>
					<div class="form-group">
						<label class="text-muted">Електронна почта</label>
						<div class="input-group with-focus">
							<input class="form-control border-right-0" type="email" name="email" placeholder="Введіть почту" autocomplete="off" formControlName="email" />
							<div class="input-group-append">
								<span class="input-group-text text-muted bg-transparent border-left-0">
									<em class="fa fa-envelope"></em>
								</span>
							</div>
						</div>
						<div class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">Це поле є обов'язковим</div>
						<div class="text-danger" *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">Це поле має бути дійсною електронною адресою</div>
					</div>
					<button class="btn btn-danger btn-block" type="submit">Відновити</button>
					<a class="btn btn-block btn-secondary" [routerLink]="'/login'">Ввійти</a>
				</form>
            </div>
        </div>
        <!-- END card-->
		<div class="p-3 text-center">
			<span>&copy;</span>
			<span>{{ settings.getAppSetting('year') }}</span>
			<br />
			<span>{{ settings.getAppSetting('name') }}</span>
			<br />
			<span>{{ settings.getAppSetting('description') }}</span>
		</div>
    </div>
</div>
