﻿[ContactDialog]
<div class="row">
    {data|ContactDialogBody}
</div>

[ContactDialogBody]
<form style="padding-left: 24px;padding-right: 24px;" class="col s12" id="ContactDialog" PersonID="{gid}">
    <div style="margin-bottom: 0px;" class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix blue-text">account_circle</i>
            <input style="margin-bottom: 5px;" id="regName" name="Name" type="text" class="validate" value="{Name}">
            <label for="regName">Ім'я</label>
        </div>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix blue-text">account_circle</i>
            <input style="margin-bottom: 5px;" id="regMiddleName" name="Middle_name" type="text" class="validate" value="{Middle_name}">
            <label for="regMiddleName">По-батькові</label>
        </div>
    </div>
    <div style="margin-bottom: 0px;" class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix blue-text">account_circle</i>
            <input style="margin-bottom: 5px;" id="regLastName" name="Surname" type="text" class="validate" value="{Surname}">
            <label for="regLastName">Прізвище</label>
        </div>
    </div>
    <div style="margin-bottom: 0px;" class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix blue-text">email</i>
            <input id="inputEmail" name="e_mail" type="email" class="validate" value="{e_mail}">
            <label for="inputEmail">Email</label>
        </div>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix blue-text">phone</i>
            <input id="phoneNumber" name="phones" type="tel" class="validate" value="{phones}">
            <label for="phoneNumber">Телефон мобільний</label>
        </div>
    </div>
    <!-- tty -->
    <div style="margin-bottom: 0px;" class="row">
        <div class="input-field col s12 m12">
            <i class="material-icons prefix blue-text">group</i>
            <label for="inputGroup">Groups</label>
            <select id="inputGroup" class="validate" name="groups" multiple="multiple" style="width: calc(100%-3rem); display:block; margin-left: 3rem">

            </select>
        </div>
    </div>
    <!-- tty -->
</form>

[ContactDialogGroupsOption]
<option value="AL">Alabama</option>


[Contacts]
	<div id="ContactModal" class="Contact modal">
		<div class="card-panel">
			<div class="modal-gradient-header gradient-45deg-light-blue-cyan white-text">
				<h3 style="float: left;" class="modal-title">Дані контакту</h3>
				<div class="close">
				  <i class="material-icons modal-action modal-close">shuffle</i>
				</div>
			</div>

			<div class="modal-content">

			</div>
			<div class="modal-footer">
				<div class="row">
					<div style="padding-left: 24px;padding-right: 24px;" class="col s12">
						<button style="float:left;" s-click="StartEdit" class="col s12 m4 btn waves-effect waves-light green hideOnEdit">Редагувати</button>
						<button style="float:left; margin-right: 10px;" class="col s5 m4 offset-m3 btn modal-action modal-close waves-effect waves-light orange showOnEdit" s-click="SaveContact">Зберегти</button>
						<button style="float:right;" s-click="CancelEdit" class="col s6 m4 btn modal-action modal-close waves-effect waves-light red showOnEdit">Скасувати</button>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-block">
                <div class="card_header">
                    <i class="material-icons blue circle">account_circle</i>
                    <h4 class="card-title">Мoї контакти</h4>
                    <h6 class="card-subtitle text-white m-b-0 op-5"> </h6>
                </div>
            </div>

            <div class="card-block contact-table">
                <!-- TTY -->
                <div class="waves-effect waves-teal blue btn-flat add_group text-white" onclick="app.ViewGroups('contact-groups-column')">
                    <i class="material-icons">group</i>Групи
                </div>
                <!-- tty -->
                <div class="contact-box container message-box">
                    <!-- TTY -->
                    <div class="flex">
                        <div id="contact-groups-column" class="contact-groups-column open">
                            <div class="add-group-button">
                              <span>Додати групу</span>
                              <a href="javascript:;" class="btn-floating btn green waves-effect waves-green" onclick="app.CreateContactGroup()">
                                    <i class="material-icons">group_add</i>
                              </a>
                            </div>
                            <div id="contact-groups">
                                {Groups|ContactGroupItem-each}
                            </div>
                        </div>
                        <!-- TTY -->
                        <div class="contact-group-content">
                            <div class="add-ct-btn">
                                <a href="#ContactModal" class="btn-floating btn orange  modal-trigger waves-effect waves-green" s-click="AddContact">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                            <ul class="message-widget contact-widget">
                                <li> {SelectedGroupItems|ContactItem-each}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

[ContactGroupItem]
<div class="group-item" onclick="app.SelectContactGroup({gid})">
    <div class="group-name" data-gid="{gid}">{name}</div>
    <a href="javascript:;" class="mini-btn ok" onclick="app.FinishContentEdtable({gid})">
        <i class="material-icons">check</i>
    </a>
    <a href="javascript:;" class="mini-btn group-edit" onclick="app.EditSelectedGroup()">
        <i class="material-icons">mode_edit</i>
    </a>
    <a href="javascript:;" class="mini-btn group-del" onclick="app.DelSelectedGroup()">
        <i class="material-icons">close</i>
    </a>
</div>


[ContactItem]
<div class="col s11 hover-block">
<div class="col s11 person-block">
    <a href='#' onclick="app.EditContact(event, {gid})">
        <div class="user-img">
            <img src="assets/images/user.png" alt="user" class="img-circle">
            <span class="profile-status online pull-right"></span>
        </div>
        <div class="Pib-contnet">
            <h5>{f_name}</h5>
        </div>
        <div class="Tel-contnet">
            <h5 class="mail-desc">{phones}&nbsp</h5>
        </div>
        <div class="mail-contnet">
            <h5 class="mail-desc">{e_mail}</h5>
        </div>
    </a>
</div>
<div class="col s1 edit-block">
    <a href="#" onclick="app.EditContact(event, {gid})">
        <div class="edit-contnet">
            <span class="mail-desc">
                <i class="material-icons green-text">edit</i>
            </span>
        </div>
    </a>
</div>
</div>



[Projects]
<div id="ProjectsModal" class="Contact modal">
    <div class="card-panel">
        <div class="modal-gradient-header gradient-45deg-light-blue-cyan white-text">
            <h3 class="modal-title">Дані проекту</h3>
        </div>
        <div class="modal-content">

        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s12 m4 offset-m8">
                    <button style="width:100%" type="button" class="btn modal-action modal-close waves-effect waves-light orange" onclick="app.SaveContact()">Зберегти</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l6">
    <ul id="issues-collection" class="collection z-depth-1">
        <li class="collection-item avatar">
            <i class="material-icons orange accent-2 circle">business</i>
            <h6 class="collection-title m-0">Проекти</h6>
            <!-- <p></p> -->
            <div style="position: relative;" class="">
                <div class="fixed-action-btn horizontal click-to-toggle" style="position: absolute; display: inline-block; right: 24px; top:-30px;">
                    <a class="btn-floating btn-large red">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    <ul>
                        <li>
                            <a class="btn-floating red">
                                <i class="material-icons">insert_chart</i>
                            </a>
                        </li>
                        <li>
                            <a class="btn-floating yellow darken-1">
                                <i class="material-icons">format_quote</i>
                            </a>
                        </li>
                        <li>
                            <a class="btn-floating green">
                                <i class="material-icons">publish</i>
                            </a>
                        </li>
                        <li>
                            <a class="btn-floating blue">
                                <i class="material-icons">attach_file</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        {this|ProjectItem-each}
    </ul>
</div>

[ProjectItem]
<li class="collection-item">
    <div class="row">
        <div class="col s10">
            <p class="collections-title">{name}</p>
            <p class="collections-content">{Description}</p>
        </div>
        <div class="col s2">
            <span class="task-cat teal accent-4">Активний</span>
        </div>
    </div>
</li>

[Profile]
<div class="container">

    <!-- <form>
    <h3>Профіль користувача</h3>
    <div>{Full_Name}</div>
    <div>Телефон: {phones}</div> -->
    <!-- <span class="btn btn-success" onclick="GPage.OpenDlg('ChangePass', app.Me)">Змінити пароль</span> -->
    <!-- </form> -->
    <div class="row">
        <div class="col s12 m12 l10 offset-l1">
            <div id="profile-card" class="card">
                <!-- <div class="card-image bg-info waves-effect waves-block waves-light">

                         </div> -->
                <div class="card-content">
                    <!-- <a class="btn-floating activator btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                                    <i class="material-icons">edit</i>
                                    </a> -->
                    <div class="row">
                        <div class="col s12 m3 l3">
                            <div>
                                <img src="assets/images/user.png" alt="avatar" class="responsive-img activator primary padding-2">
                            </div>
                        </div>
                        <div class="col s12 m9 l9">
                            <!-- <span class="card-title activator grey-text text-darken-4">Профіль користувача</span>
                                        <p>
                                        <i class="material-icons">perm_identity</i>{Full_Name}</p>
                                       <p>
                                      <i class="material-icons">perm_phone_msg</i>{phones}</p>
                                      <p>
                                      <i class="material-icons">email</i>{email}</p> -->
                            <h5>Профіль користувача</h5>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="{Full_Name}" id="Full_Name" type="text">
                                    <label class="active" for="Full_Name">Ім'я</label>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <input value="{phones}" id="phones" type="text">
                                    <label class="active" for="phones">Телефон</label>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <input value="{email}" id="email" type="text">
                                    <label class="active" for="email">Email</label>
                                </div>
                                <div class="col s12">
                                    <span class="btn btn-primary waves-effect waves-light mr15 mb15 col s12 m5" onclick="GPage.OpenDlg('ChangePass', app.Me)">Змінити пароль</span>
                                    <span class="btn orange waves-effect waves-light mb15 col s12 m5" type="button" name="button">Редагувати профіль</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="ChangePassModal" class="modal ">
            <div class="card-panel">
                <div class="modal-content">

                </div>
            </div>

        </div>
    </div>
</div>

[ChangePassDialog]

<form ng-cloak>

    <div class="col-xs-12 registration_box">
        <!-- <button type="button" class="close" aria-label="Close" onclick="GPage.CloseModal()">
            <span aria-hidden="true">&times;</span>
        </button> -->
        <div class="close">
            <i class="material-icons modal-action modal-close right">shuffle</i>
        </div>

        <div class="md-toolbar-tools col-md-12 registration_header">

            <h5 class="center-align">Зміна паролю користувача</h5>
            <h5 style="text-align: center; margin-bottom:10px;">{Full_Name}</h5>
            <span flex></span>

        </div>

        <div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix green-text">lock_outline</i>
                    <input id="oldPassword" type="password" class="validate">
                    <label for="oldPassword">Старий пароль</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix green-text">border_color</i>
                    <input id="newPassword" type="password" class="validate">
                    <label for="newPassword">Новий пароль</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix green-text">border_color</i>
                    <input id="confirmationPassword" type="password" class="validate">
                    <label for="confirmationPassword">Підтвердження паролю:</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input type="button" onclick="app.ProfileDrv.DoChangePass(event)" class="btn success-color mr15 mb15 col s12 m5" value="Змінити пароль">
                    <input type="button" onclick="GPage.CloseModal()" class="btn btn-unique mb15 col s12 m5 right" value="Скасувати">

                </div>
            </div>
            <div style="margin-bottom: 0px;" class="row">
                <div class="col-s-12">
                    <div class="alert alert-danger red-text center-align" style="display: none"></div>
                </div>
            </div>

            <!-- <div class="form-group">
                <div style="margin-bottom:20px; margin-top:20px;" class="col-xs-6 add">
                    <input type="button" onclick="app.ProfileDrv.DoChangePass(event)" class="btn btn-success" value="Змінити пароль">
                </div>
                <div style="margin-bottom:20px; margin-top:20px;text-align: right;" class="col-xs-6">
                    <input type="button" onclick="GPage.CloseModal()" class="btn btn-warning " value="Скасувати">
                </div>
            </div> -->
        </div>
    </div>
</form>
