﻿<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    <img class="block-center rounded" src="assets/img/logo.png" alt="Image" />
                </a>
            </div>
            <div class="card-body">
                <p class="text-center py-2">Вхід</p>
				<form [formGroup]="valForm" class="form-validate mb-3" role="form" name="loginForm" novalidate="" (submit)="submitForm($event, valForm.value)">
					<div class="form-group">
						<div class="input-group with-focus">
							<input class="form-control border-right-0" id="exampleInputEmail1" type="email" name="email" placeholder="Введіть почту" autocomplete="off" formControlName="email" required="" />
							<div class="input-group-append">
								<span class="input-group-text text-muted bg-transparent border-left-0">
									<em class="fa fa-envelope"></em>
								</span>
							</div>
						</div>
						<div class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">Це поле є обов'язковим</div>
						<div class="text-danger" *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">Це поле має бути дійсною електронною адресою</div>
					</div>
					<div class="form-group">
						<div class="input-group with-focus">
							<input class="form-control border-right-0" id="exampleInputPassword1" type="password" name="password" placeholder="Пароль" formControlName="password" required="" />
							<div class="input-group-append">
								<span class="input-group-text text-muted bg-transparent border-left-0">
									<em class="fa fa-lock"></em>
								</span>
							</div>
						</div>
						<div class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">Це поле є обов'язковим</div>
					</div>
					<div class="clearfix">
						<div class="checkbox c-checkbox float-left mt0">
							<label>
								<input type="checkbox" value="1" formControlName="remember" name="remember" />
								<span class="fa fa-check"></span>Запам'ятати мене
							</label>
						</div>
						<div class="float-right">
							<a class="text-muted" [routerLink]="'/recover'">Забув пароль?</a>
						</div>
					</div>
					<p [hidden]="!loginErr" style="color:#ff0000" class="pt-3 text-center">Недійсна почта/пароль</p>
					<button [hidden]="loading" class="btn btn-block btn-primary mt-3" type="submit">Ввійти</button>
					<p [hidden]="!loading" class="pt-3 text-center">Зачекайте...</p>
				</form>
                <!-- <div class="alert alert-danger text-center" ></div> -->
                <p class="pt-3 text-center">Немає аккаунту?</p>
                <a class="btn btn-block btn-secondary" [routerLink]="'/register'">Реєстрація</a>
            </div>
        </div>
        <!-- END card-->
		<div class="p-3 text-center">
			<span>&copy;</span>
			<span>{{ settings.getAppSetting('year') }}</span> 
			<br />
			<span>{{ settings.getAppSetting('name') }}</span>
			<br />
			<span>{{ settings.getAppSetting('description') }}</span>
		</div>
    </div>
</div>
