<head>
	<style>
		tbody {color: darkred;}
		thead {color: green;}
	</style>
</head>

<body>
	<div class="content-heading">
		<div>Kvanta-classes</div>
	</div>
	<div class="row col-xl card card-default card-body table-responsive table-bordered">
	<table class="table" >
		<thead>
			<tr>
				<td style="width:50%">Name</td>
				<td style="width:10%">Start Year</td>
				<td style="width:25%">Comments</td>
				<td style="width:15%">Edit</td>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let group of eduGroups">
				<td><span>{{group.name}}</span></td>
				<td><span>{{group.startYear}}</span></td>
				<td><span>{{group.comments}}</span></td>
				<td>
					<div class="container">
						<button (click)="doEdit()" type="button" class="btn btn-primary">Edit</button>
						<button type="button" class="btn btn-danger">Del.</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>