﻿@{
    ViewData["Title"] = "Kvanta.xyz";
}

<app-root></app-root>

<div class="preloader">
    <div class="preloader-progress">
        <div class="preloader-progress-bar"></div>
    </div>
</div>



<script src="@ViewData["Server"]/dist/polyfills.js" asp-append-version="true"></script>
<script src="@ViewData["Server"]/dist/vendor.js" asp-append-version="true"></script>
<script src="@ViewData["Server"]/preloader/preloader.js" asp-append-version="true"></script>

@section scripts {
    <script src="@ViewData["Server"]/dist/app-student.js" asp-append-version="true"></script>
}