<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="text-center">
                    <img alt="Angular" class="img-fluid home-logo" src="assets/img/angular.svg" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 home-text">
                <h1 class="home-text-big">Kvanta</h1>
                <p class="lead">Bootstrap 4 Admin Template + <strong>Angular6</strong>
                    <br> <small>Based on One framework. Mobile & desktop.</small>
                </p>
                <p><a class="btn btn-primary btn-lg" href="https://angular.io/" target="_blank">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3><a href="#/login">Login</a></h3>
                </div>
                <div class="card-body">
                    Wellcome to the app if you are registered.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3><a href="#/register">Register</a></h3>
                </div>
                <div class="card-body">
                    Register to join our comunity
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Generators</h3>
                </div>
                <div class="card-body">
                    Angular-CLI tool provides generators to create components, services, directives and pipe from the command line.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Modularized</h3>
                </div>
                <div class="card-body">
                    This project has been carefully designed to provide modules for Core, Layout, Shared and Routed components.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Environments</h3>
                </div>
                <div class="card-body">
                    Ready to work with multiple environments, from first stage development through test and production.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Style Guide</h3>
                </div>
                <div class="card-body">
                    Better practices for Code organization and Project structure based on the official Angular style guide.
                </div>
            </div>
        </div>
    </div>
</div>