﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>@ViewData["Title"] - Angle</title>
        <base href="/" />
        <link rel="stylesheet" href="~/preloader/preloader.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/assets/vendor.css" asp-append-version="true" />
    </head>
    <body>

        @RenderBody()

        @RenderSection("scripts", required: false)

    </body>
</html>
